

.left {
  width: 62%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.right {
  width: 38%;
  border-right: 1px solid rgba(138, 138, 138, 0.26);
  display: flex;
  flex-direction: column;
}



.mainChat {
  padding: 10px;
  height: 87%;
  max-height: 86%;
  overflow-y: scroll;
  position: relative;
}

.message,
.messageS {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.3rem;
}

.messageS {
  display: flex;
  justify-content: start;
  align-items: start;
}

.message > .message-content,
.messageS >.message-content {
  max-width: 200px;
  width: fit-content;
  padding: 15px;
  border-radius: 20px 20px 0 20px;
  background: #e4b717;
  color: #fff;
  font-size: 17px;
  box-shadow: 0px 1px 17px rgba(117, 117, 117, 0.04);
}

.messageS > .message-content {
  background: #179ae4;
  border-radius: 20px 20px 20px 0;
}

.createdAt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #888888;
  font-size: 11px;
}

.createdAt > img {
  height: 15px;
}

.sendMessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom-left-radius: 20px;
}

.sendMessage > input:first-child {
  outline: none;
  border: none;
  padding: 20px;
  font-size: 16px;
  border-radius: 20px;
  width: 100%;
}

.sendMessage > img {
  position: relative;
}

.sendMessage > input:last-child {
  position: relative;
  width: 20px;
  z-index: 1000;
  left: -1rem;
  opacity: 0;
  cursor: pointer;
}

.chatWith {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

