.allHeader {
  background-color: #512ddd !important;
}

.header-wrapper{
  &.active{
    padding-right: 115px;
  }
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-thumb {
  background: #512ddd;
  border-radius: 10em;
}

::-webkit-scrollbar-track {
  background: #1d1e42;
}

button.MuiFab-root {
  background: #512ddd;

  &:hover{
    background: #613eea;
  }
}

button.MuiButtonBase-root {
  color: white;
}
