$color-primary: #512ddd;

.list__nav {
  padding: 12px !important;

  .list__nav__button {
    svg {
      font-size: 12px !important;
      margin-right: 8px;

      & > path,
      & > rect {
        fill: $color-primary;
      }
    }

    span {
      color: $color-primary;
      font-size: 16px;
      font-weight: 500;
    }

    & > div {
      padding-left: 12px !important;
    }

    &.active {
      width: 226px;
      border-radius: 4px;
      background: $color-primary;
      box-shadow: 0px 10px 30px 0px rgba(17, 38, 146, 0.1);

      svg > path,
      svg > rect {
        fill: white;
      }

      span {
        color: white;
      }
    }
  }
}
