.wrapper{
    padding-top: 64px;

    div{
        margin-top: 0;

        h1{
            color: white;
        }

        form{

            input{
                background: white;
                border-radius: 8px;
            }

            span{
                color: white;
            }
        }
    }
}