.from-new-products {
  min-height: 100svh;
  padding: 20px;

  .MuiBox-root {
    h1 {
      color: white;
      font-weight: 600;
    }

    .prodes {
      border: none;

      input {
        border-bottom: 1px solid white;
      }

      label.Mui-focused {
        color: #b9b9b9;
      }

      fieldset {
        border-color: transparent;
      }
    }

    .category > div > div {
      border-bottom: 1px solid white;

      label.Mui-focused {
        color: #b9b9b9;
      }

      fieldset {
        border-color: transparent;
      }
    }

    .prices {

      color: white!important;

      button {
        margin: 0;
        padding: 0 10px;
      }

      input.Mui-disabled{
        -webkit-text-fill-color: rgba(255, 255, 255, 0.583);
      }

      div > div > div {
        &::before {
          border-color: white;
        }

        &::after {
          border-color: #512ddd;
        }
      }
    }

    .submit {
      background: #512ddd;
      padding: 10px;
    }

    input {
      outline: none;
      color: white !important;

      &::before {
        color: white;
      }
    }

    label {
      color: white;
    }

    button {
      color: white;
    }
  }
}
